:root {
  --large-text: #242A45;
  --small-text-color: #242A45;
  --primary-button: #5267DF;
  --red: #FA5959;
  --site-footer-bg: #242A45;
  --footer-top-bg: #5267DF;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}
.small-text {
  color: #242A45;
}
*,
*::before
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Rubik", "Arial", "sans-serif";
  background-color: #fff;
  color: #222;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 75px;
  padding-bottom: 75px;
}
.section-wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 540px;
  height: 124px;
  margin-bottom: 48px;
}
.section__title {
  font-style: 32px;
  line-height: 52px;
  margin-bottom: 16px;
}
.section-text {
  margin-top: 0;
  opacity: 0.5;
  font-size: 18px;
  line-height: 28px;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

.button {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 22px;
  font-size: 14px;
  line-height: 2;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  border: 3px solid transparent;
  text-decoration: none;
  text-align: center;
  background-color: var(--primary-button);
  text-transform: capitalize;
  white-space: nowrap;
}
.button:active {
  opacity: 0.6;
}
.button-site-header {
  background-color: var(--red);
  color: #fff;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 10px 31px;
}
.button-site-header:hover {
  background-color: #fff;
  color: var(--red);
  border-color: var(--red);
}
.button-gray {
  background-color: #f7f7f7;
  color:  var(--small-text-color);
  opacity: 1;
}
.button-gray:hover {
  background-color: #fff;
  color: var(--large-text);
  border-color: var(--large-text);
  opacity: 0.7;
}
.button-blue {
  background-color: var(--primary-button);
  color: #fff;
}
.button-blue:hover {
  background-color: #fff;
  color: var(--primary-button);
  border-color: var(--primary-button);
}

/* site header */
.site-header {
  padding-top: 48px;
  padding-bottom: 48px;
}
.site-header__container {
  display: flex;
  align-items: center;
}
.site-header__logo {
  display: block;
}
.site-header__logo-img {
  width: 150px;
  height: 25px;
}
.site-header__logo-img:hover {
  opacity: 0.8;
}

.sitenav {
  margin-left: auto;
}
.sitenav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitenav__item {
  margin-right: 50px;
}
.sitenav__link {
  text-align: center;
  display: block;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  color: var(--small-text-color);
  opacity: 0.8;
  text-decoration: none;
}
.sitenav__link:hover {
  color: var(--red);
  opacity: 1;
}

/* hero */
.hero {
  padding-top: 66px;
  padding-bottom: 105px;
  background-image: url(../img/hero-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 705px) 200px;
}
.hero__conatiner {
  display: flex;
  flex-shrink: 0;
  align-items: flex-start;
}
.hero-content {
  flex-shrink: 0;
  width: 100%;
  padding-top: 60px;
  max-width: 540px;
  margin-right: 65px;
}
.hero__title {
  margin-top: 0;
  font-size: 48px;
  line-height: 52px;
  color: var(--large-text);
  margin-bottom: 24px;
}
.hero__text {
  margin-top: 0;
  color: var(--small-text-color);
  opacity: 0.5;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 32px;
}
.hero__button-wrapper {
  display: flex;
}
.hero-button:not(:last-child) {
  margin-right: 16px;
}

.hero-img {
  flex-shrink: 0;
  min-width: 578px;
  width: auto;
  height: auto;
}